@import '../../variables.scss';

.form-div{
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-bottom: 26em;
    h2{
        margin-top: 2.2em;        
    }
    .contact-form{
        display: flex;
        flex-direction: column;        
        align-items: center;       
        padding: 1em;                
        width: 40%;
        .form-input{
            border-radius: 0.5em;
            padding: 10px;
            border: none;
            width: 90%;
            font-size: 1.2em;
            font-family: monospace;
            margin-bottom: 2.5em;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);
            
        }
        .form-textarea{
            padding: 10px;
            border: none;
            height: 6em;
            width: 90%;
            border-radius: 0.5em;
            font-size: 1.2em;
            margin-bottom: 2.5em;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);
            
        }.form-button{
            border: none;
            padding: 0.9em 1.5em 0.9em 1.5em;            
            border-radius: 0.5em;
            font-size: 1em;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);
            background-image: $primary-azur-color;          
        }
    }
}

@media(max-width: 1000px) {
    .form-div{
        .contact-form{
            width: 80%;                        
        }
    }    
}

@media(max-width: 1000px) {
    .form-div{
        .contact-form{
            width: 80%;                        
        }
    }    
}