@import '../../variables.scss';

.div-header{     
    display: flex;
    justify-content: center;
    align-items: center;          
    nav{                                            
        ul{            
            display: flex;
            justify-content: center;
            gap: 6em;
            padding-inline-start: 0;
            list-style-type: none;                        
            li{
                display: flex;
                align-items: baseline;                                
            }          
            .nav-link{
                padding-bottom: 7px;
                text-decoration: none;
                font-size: 1.3em;
                transition: transform 500ms ease-in-out;              
                
                &:hover{
                    transform: scale(1.2) translateY(-10%);                    
                }                                                               
             }.nav-link, .faHouse{    
                font-size: 1.3em;
                color: white;                
            }
            .theme-btn{
                border: none;
                width: 35px;
                font-size: 1.3em;
                cursor: pointer;
                transition: transform 400ms ease-in-out;
                background: $primary-clearTheme-color;
                &:hover{
                    transform: scale(1.4);                    
                }                               
                                
            }.theme-btn.theme-mode {
                background: $primary-darkTheme-color;
                color:yellow;
            } 
        }
    }    
}

//Border bottom qui s'affiche sous les liens de la nav selon la page visitée
.active {
    border-bottom: 5px solid ;
    border-image-slice: 1;
    border-image-source: -webkit-linear-gradient(135deg, rgb(0, 255, 164), rgb(166, 104, 255));
}

//Responsive Header//

@media(max-width: 1000px) {
    .div-header nav{
        width: 90%;
    } ul{
        gap: 2em;
        padding: 0.5em;
        text-align: center;
    }  
}

@media(max-width: 768px){
    .div-header{                                     
        nav{                                            
            ul{                            
                gap: 1em;
                padding: 0.5em;                          
                li .nav-link{                    
                    &:hover{
                        transform: translateY(-20%);                    
                    } 
                }
            }
        }
    }
}




 
//          gap: 0.5em;
//          padding: 0.5em;
//          text-align: center;
