@import'../variables/variables.scss';

@keyframes wave {
    0% {    
        transform: rotate(0deg);
    }
    10% {    
        transform: rotate(14deg);
    }
    20% {    
        transform: rotate(-8deg);
    }
    30% {    
        transform: rotate(14deg);
    }
    40% {   
        transform: rotate(-4deg);
    }
    50% {   
        transform: rotate(10deg);
    }
    60% {   
        transform: rotate(0deg);
    }
    100% {   
    transform: rotate(0deg);
    }
}

.homePage-section{      
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 180px;
      align-items: center;
      .picture-div{
        border-radius: 50%;        
        border: 1px solid black;
        width: 350px;
        height: 350px;
        background:$primary-azur-color;
        border: 10px solid $primary-clearTheme-color;        
        .photo{
            height: 22em;
            object-fit: contain;
            border-radius: 50%;           
        }
      }
      .text-div{
        margin-left: 2em;
        h1{
            font-size: 2.6em;
            margin: 0;
            .h1-first-name{
                background: linear-gradient(135deg, rgb(0, 255, 164), rgb(166, 104, 255));
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
            .home-hand{
                font-size: 45px;
                margin-left: 10px;                
                animation-duration: 2.5s;    
                animation: wave 2s infinite;
                display: inline-block;
                transform-origin: 70% 70%;
            }    
        }h2{
            font-size: 2em;
            margin: 0;
        }
      }       
}


 


