.footer-div{
    display:flex;
    flex-direction: column;
    width: 100%;   
    position: fixed; 
    bottom: 1.5em;      
    p{
        font-size: 1.3em;
        text-align: center;
        margin: 0;
    }
}
.footer-div-basic{
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-bottom: 2em;
    
    p{
        font-size: 1.3em;
        text-align: center;
        margin: 0;
    }
}




@media(max-width: 1028){
    .homePage-section{
        margin-top: 0ù;
    }
    
    .footer-div{
        margin-top: 16vh;
        bottom: 1px;
    }
}
@media(max-width: 768px){
    .footer-div{
        margin-top: 16vh;
        bottom: 1px;
    }
}