.footer-div{
    display:flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);       
    p{
        font-size: 1.3em;
        text-align: center;
        margin: 0;
    }
}
.footer-div-basic{
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-bottom: 1em;
    p{
        font-size: 1.3em;
        text-align: center;
        margin: 0;
    }
}

@media(max-width: 1000px){

}

@media(max-width: 768px){
    
}