@import '../variables/variables.scss';

.div-header{     
    display: flex;
    justify-content: center;
    align-items: center;          
    nav{                                            
        ul{            
            display: flex;
            justify-content: center;
            gap: 6em;
            padding-inline-start: 0;
            list-style-type: none;            
            li{
                display: flex;
                align-items: baseline;                
            }          
            .nav-link{
                padding-bottom: 7px;
                text-decoration: none;
                font-size: 1.3em;
                transition: transform 300ms ease-in-out;
                &:hover{
                    transform: scale(1.3);
                    transform: translateY(-15%);
                }                                                               
             }.nav-link, .faHouse{    
                font-size: 1.3em;
                color:$primary-darkTheme-color;
            }
            .theme-btn{
                border: none;
                width: 35px;
                font-size: 1.3em;
                cursor: pointer;
                transition: transform 300ms ease-in-out;
                &:hover{
                    transform: scale(1.3);
                    transform: translateY(-15%);
                }                               
                                
            }.theme-btn.theme-mode {
                background: $primary-darkTheme-color;
                color:yellow;
            } 
        }
    }
    
}
.active {
    border-bottom: 5px solid ;
    border-image-slice: 1;
    border-image-source: -webkit-linear-gradient(135deg, rgb(0, 255, 164), rgb(166, 104, 255));
}




 

