.aboutMe-div{
    margin-top: 3em;
    gap: 3.5em;    
    p{
        font-size: 1.5em;        
        padding: 0.8em;        
    }          
    li{
        list-style-type: none;
        padding: 0.4em;
        //margin-top: 1em;        
    }    
}

.skillsText-ul-first{
    height: 7em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5em; 
    margin: 0;   
}
.skillsText-ul-last{
    height: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5em; 
    margin: 0;   
}
.diversText-ul{      
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5em; 
    margin: 0;   
}