.aboutMe-div{
    margin-top: 3em;
    gap: 3.5em;    
    li{
        list-style-type: none;
        margin-top: 1em;        
    }    
}

.skillsText-ul{
    height: 7em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.2em;    
}