.terminal-section{
    display: flex;
    flex-direction: column;    
    align-items: center;
    
    .banner-div{
        background: #8C8C8C;
        height: 2.6em;
        width: 50%;
        border-radius: 0.6em 0.6em 0 0 ;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        align-items: center;        
        gap: 0.5em;
        font-size: 0.9em;
        .red-icon{
            color: #ff6057;
            padding-left: 1.2em;
        }                
        .yellow-icon{
            color:  #ffbd2e;;
        }                
        .green-icon{
            color: #27c93f;
        }                
    }
    .terminal-div{
        background: black;                
        width: 50%;
        border-radius: 0 0 0.6em 0.6em;    
    }p{
        color: white;
        padding: 1em;
    }   
}

