@import'../../variables.scss';

//Keyframes du salut de l'icon main
@keyframes wave {
    0% {    
        transform: rotate(0deg);
    }
    10% {    
        transform: rotate(14deg);
    }
    20% {    
        transform: rotate(-8deg);
    }
    30% {    
        transform: rotate(14deg);
    }
    40% {   
        transform: rotate(-4deg);
    }
    50% {   
        transform: rotate(10deg);
    }
    60% {   
        transform: rotate(0deg);
    }
    100% {   
    transform: rotate(0deg);
    }
}

.homePage-section{      
    display: flex;
    justify-content: center;
    margin-top: 8%;
    align-items: center;
      .picture-div{
        border-radius: 50%;
        padding: 1.2rem;       
        width: 350px;
        height: 350px;
        background:$primary-azur-color;        
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.4);  
        display: flex;
        align-items: center;
        justify-content: center;      
        .photo{
            height: 22em;            
            border-radius: 50%;           
        }
      }
      .text-div{
        margin-left: 2em;
        h1{
            font-size: 2.6em;
            margin: 0;            
            .h1-first-name{
                background: linear-gradient(135deg, rgb(0, 255, 164), rgb(166, 104, 255));
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
            .home-hand{
                font-size: 45px;
                margin-left: 10px;                
                animation-duration: 2.5s;    
                animation: wave 2s infinite;
                display: inline-block;
                transform-origin: 70% 70%;
            }    
        }h2{
            font-size: 2em;
            margin: 0.3em 0 0.5em 0;            
        }.social-icons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap:3em;           
            a{
                color: $primary-darkTheme-color;
                font-size: 1.9em ;                                
                transition: transform 500ms ease-in-out;
                &:hover{                    
                    transform: scale(1.3) ;                    
                }
            }
            
        }.text-ul{
            margin-top: 0;                       
        }.text-li{
            list-style-type: none;
            font-size: 1.2em;
            line-height: 1.9;
            transition: transform 300ms ease-in-out;
            &:hover{
                transform: translateY(-10%);
            }
            .text-li-icon{
                margin-right: 0.4em;                
            }
        }
      }       
}


 


